<table class="table permits_table" style="font-size: 12px; width: 900px;">
  	 <tr>
  	  <th>№</th>
  	  <th>Постановщик</th>
  	  <th>Исполнитель</th>
  	  <th>Дата создания</th>
	    <th>Статус</th>
	    <th>Срок исполнения</th>
	    <th>Подробнее</th>
	    <th>Выполнить</th>
	  </tr>

	<% @tasks.each do |task| %>
	  <tr>
			<td><%= task.id %></td>
			<td><%= organization_short_title(task.sender_organization_id) %></td>
			<td><%= organization_short_title(task.executor_organization_id) %></td>
			<td><%= task.created_at.strftime('%d.%m.%Y') %></td>
			<td><%= task_status(task) %></td>
			<td><%= task_deadline(task) %></td>
			<td><%= link_to "Подробнее", task %></td>
			<td><% if task.completed %> <% else %> <%= link_to "Выполнить", execute_task_path(task) %><% end %></td>
	  </tr>
	<% end %>
</table>