<%= library_section_caption 'Статусы' %>
<table class="table">
  <tr>
    <td>
      <span class="label label-success">Success</span>
    </td>
    <td>
      <%= highlight_code %Q{ content_tag :span, 'success', class: 'label label-success'  }%>
    </td>
  </tr>

  <tr>
    <td>
      <span class="label label-default">default</span>
    </td>
    <td>
      <%= highlight_code %Q{ content_tag :span, 'default', class: 'label label-default'  }%>
    </td>
  </tr>

  <tr>
    <td>
      <span class="label label-primary">primary</span>
    </td>
    <td>
      <%= highlight_code %Q{ content_tag :span, 'primary', class: 'label label-primary'  }%>
    </td>
  </tr>

  <tr>
    <td>
      <span class="label label-warning">warning</span>
    </td>
    <td>
      <%= highlight_code %Q{ content_tag :span, 'warning', class: 'label label-warning'  }%>
    </td>
  </tr>

  <tr>
    <td>
      <span class="label label-danger">danger</span>
    </td>
    <td>
      <%= highlight_code %Q{ content_tag :span, 'danger', class: 'label label-danger'  }%>
    </td>
  </tr>

</table>
