<aside class="l-page__column left">
  <nav class="b-sidebar">
    <a href="/" class="main" id="main-b">
      <div class="icon">
        <span></span><span></span><span></span>
      </div>
      <div class="text">Виджеты</div>
    </a>
    <div class="menu-dir">
      <div class="menu-link documents <%= 'active' if controller?("documents") %>"><i></i><div class="text">Документы</div><b></b></div>
      <div class="child-dir">
        <%= link_to documents_path, :class => (controller?("documents") ? 'menu-link active' : 'menu-link ') do %>
            <i></i>
            <div class="text">Документы</div>
            <% unless indox(current_user) < 1  %>
              <span class="badge badge-important"><%= indox(current_user) %></span>  
            <% end %>
        <% end %>
        <%= link_to drafts_documents_path, :class => (controller?("documents") && action?('drafts') ? ' active menu-link ' : 'menu-link ') do %>
            <i></i>
            <div class="text">Черновики</div>
        <% end %>
        <%= link_to statements_path, :class => (controller?("statements") ? 'active menu-link ' : 'menu-link ') do %>
            <i></i>
            <div class="text">Акты</div>
            
              <% unless statement_indox(current_user) < 1 %> 
                <span class="badge badge-important"><%= statement_indox(current_user) %></span>  
              <% end %>
        <% end %>
      </div>
    </div>
    <%= link_to permits_path, :class => (controller?("permits") ? 'menu-link permits active' : 'menu-link permits ') do %>
        <i></i>
        <div class="text">Пропуска</div>
    <% end %>

    <%= link_to organizations_path, :class => (controller?("organizations") ? 'contragent active menu-link ' : 'menu-link contragent') do%>
        <i></i>
        <div class="text">Организации</div>
    <% end %>
    <!--<%= link_to tasks_path, :class => (controller?("tasks") ? 'menu-link tasks active' : 'menu-link tasks')  %>-->
  </nav>
</aside>