<div class="left_menu">
	
	<div class="doc-left">
		<a href="#" class="main"></a>
		<%= link_to documents_path, :class => (controller?("documents") && action?('index') ? 'doc active' : 'doc') do %>
	    <span class="badge badge-important"><% unless indox(current_user) < 1  %> <%= indox(current_user) %> <% end %></span>
	  <% end %>
	  <%= link_to statements_path, :class => (controller?("statements") ? 'acts active' : 'acts') do %>
	    <span class="badge badge-important"><% unless statement_indox(current_user) < 1  %> <%= statement_indox(current_user) %> <% end %></span>
	  <% end %>
	  <%= link_to "", drafts_documents_path, :class => (controller?("documents") && action?('drafts') ? 'ch active' : 'ch')  %>
	  <%= link_to "", permits_path, :class => (controller?("permits") ? 'security active' : 'security')  %>
	</div>
</div>