<div class="btn-toolbar">
  
  <% if current_user.id == @statement.user_id && @statement.sent != true && @statement.approved == true %>
  <div class="btn-group"   style="margin-right: 10px;">	
		<%= link_to 'Отправить', send_statement_statement_path(@statement), confirm: "Вы уверены?", :class => "btn" %>
	</div>
	<% end %>  
	
	<% if current_user.id == @statement.user_id && @statement.draft == true %>
  <div class="btn-group"   style="margin-right: 10px;">	
		<%= link_to 'Подготовить', prepare_statement_path(@statement), confirm: "Вы уверены?", :class => "btn" %>
	</div>
	<% end %>
	
	<% if current_user.id == @statement.user_id && @statement.sent == false %>
  <div class="btn-group"   style="margin-right: 10px;">	
		<%= link_to 'Редактировать', edit_statement_path(@statement), :class => "btn" %>
	</div>
	<% end %>
	
	<% if @statement.approved == false && @statement.approver_id == current_user.id && @statement.prepared == true %>
	 <div class="btn-group"   style="margin-right: 10px;">	
 		<%= link_to 'Подписать', approve_statement_path(@statement), confirm: "Вы уверены?", :class => "btn" %>
 	</div>
 	<% end %> 
	
	
	
	<% if for_accept(@statement) %>

	<div class="btn-group"   style="margin-right: 10px;">	
		<%= link_to 'Принять', accept_statement_path(@statement), confirm: "Вы уверены?", :class => "btn btn-success" %>
	</div>
	
	
	<% unless @writ.statements.count >= 1 %>
	<div class="btn-group"   style="margin-right: 10px;">	
		<%= link_to 'Отклонить', task_list_statement_path(@statement), confirm: "Вы уверены?", :class => "btn btn-danger" %>
	</div>
	<% end %>
	
	<% end %>
	
	
</div>