

  <div class="container">
    <ul class="row top-pannel clearfix">

      <li class="col-md-5">
          <span class="dropdown full-drop">
            <h1 >
              <% if action?('new') %>
                  Новый АКТ
              <% else %>
                  ФСО
              <% end %>
            </h1>

          </span>
      </li>
      <li class="col-md-3"></li>
      <li class="col-md-4 pull-right">
        <%= render 'shared/user' %>
      </li>

    </ul>
    <ul class="nav nav-pills permnavi">
      <li>
        <%= link_to " назад", :back, :class => "btn btn-default back-btn btn-sm" %>
      </li>
    </ul>



    <%= render 'panel' %>



		  <% if @statement.errors.any? %>
        <div id="error_explanation">
          <h4 style="color: #9a0000;">Пожалуйста, исправьте некорректные поля:</h4>

          <ul>
          <% @statement.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

			<%= form_for(@statement, :html => { :class => "form new-doc row-fuild" }) do |f| %>

            <span class="form-item"><%= f.text_field :title, :class => 'form-control col-xs-7', :placeholder => 'Укажите заголовок акта..', :value => params[:document_id] ? 'К распоряжению №' + params[:document_id] : nil %></span>
            
      
        
      <span class="form-item">
      
      
      <%= f.collection_select(:document_ids, @writs, :id, :title, {:selected => params[:document_id] ? params[:document_id] : @statement.document_id}, {multiple: true, :'data-placeholder' => "Выберите распоряжение", :class => 'form-control col-xs-7'}) %></span>

      <span class="form-item"><%= f.collection_select(:internal_approver_id, @approvers, :id, :first_name_with_last_name, {:selected => @statement.approver_id}, {multiple: true,  :'data-placeholder' => "Выберите согласующих лиц", :class => 'form-control col-xs-7'}) %></span>

      <span class="form-item"><%= f.collection_select(:approver_ids, @acceptors, :id, :first_name_with_last_name, {:selected => @statement.user_ids}, {multiple: true, :'data-placeholder' => "Выберите контрольное лицо", :class => 'form-control col-xs-7'}) %></span>


      <span class="form-item"><%= f.cktext_area :text, :placeholder => 'Текст акта', :rows => "20" %></span>


      <%= render 'actions_form', :f => f %>

			<% end %>

</div>