<%= form_for(@statement) do |f| %>
  <h3><%= @statement.title %></h3>
  <%= statement_status(@statement) %><br>
  <%= Russian::strftime(@statement.created_at, "%d %B %Y, %H:%M") %><br>
	Организация-отправитель: <%= organzation_title_by_user_id(@statement.user_id) %><br>

	

  <% if @statement.organization_id? %>
  <b>Организация-получатель: </b><%= organization(@statement.organization_id) %>
  <% end %>

	<%= @statement.text.html_safe %>
	
	<% if @statement.approver_id %>
	<h4>Контрольное лицо</h4>
	<%= user(@statement.approver_id).first_name_with_last_name %>
	<% end %>
	
	<h4>Контролеры</h4>
	<ul>
	  <% @statement.statement_approvers.each do |approver| %>
	    <li><%= statement_approver(approver) %>: <%= statement_approver_status(approver) %></li>
	  <% end %>
	</ul>
	
	<% if @statement.task_list %>
	<h4>Лист замечания</h4>
	<ul>
	  <% @task_list.tasks.each do |task| %>
	    <li><%= task.task %><!-- : <%= task_status(task) %> --></li>
	  <% end %>
	</ul>
	<% end %>
	
	    

  <%= render 'actions' %>

<% end %>

