<table class="table dynamic-table default-table" id="<%= @controller %>">
  <thead>
  	 <tr>
  	   <% unless action?('show') %>
           <th width="30"><label class=""><%= check_box_tag "statement_ids[]", nil, nil, :id => "select_all_statements" %>
             <span class="checkbox-label"></span>
           </label></th>
       <% end %>
	    <th width="120"><%= sortable "id", "Номер / Дата" %></th>
			<th width="130"><%= sortable "sender_organization_id", "Отправитель" %></th>
			<th width="130"><%= sortable "organization_id", "Получатель" %></th>
	    <th width="240"><%= sortable "title", "Тема" %></th>
	    <th width="200">Тип</th>
	    <th width="100"><%= sortable_status %></th>
	  </tr>
	</thead>
	<tbody>
  	<% @statements.each do |statement| %>
  	  <tr id="<%= statement.id %>">

  	    <% unless action?('show') %>
            <td class="not_this">
              <label class=""><%= check_box_tag "statement_ids[]", statement.id, nil, :class => 'statement_operation' %>
                <span class="checkbox-label"></span>
              </label></td>
        <% end %>
  		  <td><a href="/statements/<%= statement.id %>"><%= statement.id %></a> / <%= Russian::strftime(statement.created_at, "%d.%m.%y") %></td>

  	    <td><%= organization(statement.sender_organization_id) %></td>
  	    <td><%= organization(statement.organization_id) %></td>
  	    <td><%= statement.title %></td>
  	    <td><span class="label label-warning">Акт</span></td>
  	    <td class="status"><%= statement_status(statement) %></td>
  	  </tr>
  	<% end %>
  	</tbody>
</table>