<div class="container">
  <ul class="row top-pannel clearfix">
    <li class="col-md-2">
      <%= link_to " назад", :back, :class => "btn btn-sm back-btn" %>
      <!--<%= link_to image_tag('create_copy.png'), copy_document_path(@statement), :class => "btn btn-success", :title => "Создать по образу и подобию" %>-->
      <!--<%= link_to "pdf", document_path(@statement, format: "pdf"), :target => '_blank', :class => "btn btn-success" %>-->
    </li>
    <li class="col-md-2"></li>
    <li class="col-md-3">
      Статус:
      <%=  statement_status(@statement) %>
    </li>
    <li class="col-md-4 pull-right">
      <%= render 'shared/user' %>
    </li>
  </ul>
  <h1><%= @statement.title %></h1>
  <ol class="breadcrumb">
    <li><%= link_to organization_full_title(@statement.sender_organization_id), organization_path(@statement.sender_organization_id) %></li>
    <li><%= link_to organization_full_title(@statement.organization_id), organization_path(@statement.organization_id) %></li>
  </ol>
 </div>


<div class="container">
    <div class="col-md-6">
      <ul class="doc-info">
        <li>
          <span class="title">Номер и дата:</span><span class="value"><a href="#"><%= @statement.id %></a> /
          <%= if @statement.sent then @statement.date.strftime('%d.%m.%Y') else 'Дата не присвоена' end %>
          </span>
        </li>
        <li>
          <span class="title valign-mid">Контрольное лицо:</span>

          <div class="user value">
          <span class="photo">
            <img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAATlBMVEXz9PaAnq2Foa/29vjy8/WNp7SSqreOqLWPqbZ9m6rV3uOIpLHv8fOzxM3j6ey8y9Pq7vB6majI1Nre5OmetcCswMmWrrpwkqKiuMKnusXLnEwGAAABH0lEQVQ4y5WS2a6DMAxEiRMvWSEspf3/H72gAo2EebgjJJY5TOSRu//KWWsfPWdLfucQBt1PrizRG+8hDlqIS8HXKMyInoJVgAJms3eR90WJGAH5EMagJPRvOoH4Cu4GpIVeVwJkZYj5d4TUfE9w2fApNL0yRm/kIszYaQlyEqICo+eDEIbRKj1U/hIi0RR3B4YZdnO7EPLQjHedMUH8ZgCl9scLSBmQZSPUIXdgAhRmQSwqkNJyNAF9UnctmKPrSElp2pW3kbOnPNzssERoqsZlso3dhdlX5EZozPzbiZIFSRr7Wyf0x0GBifguIfpM1m0FmiisihCm0pUX8JOkfsK+J/IIYMzdDBfwe6DzHrFbj7eWoOsDr928Vv+ouuY/yfASuYyFl+0AAAAASUVORK5CYII=" />
          </span>
            <a href="#" class="name" data-toggle="dropdown"><%= user_with_full_name(@statement.approver_id)%>  </a>
          </div>
        </li>
        
        <% @statement.users.each.with_index(1) do |user, i| %>
          <li>
            <span class="title valign-mid">Контролер №<%= i %>:</span>

            <div class="user value">
            <span class="photo">
              <img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAATlBMVEXz9PaAnq2Foa/29vjy8/WNp7SSqreOqLWPqbZ9m6rV3uOIpLHv8fOzxM3j6ey8y9Pq7vB6majI1Nre5OmetcCswMmWrrpwkqKiuMKnusXLnEwGAAABH0lEQVQ4y5WS2a6DMAxEiRMvWSEspf3/H72gAo2EebgjJJY5TOSRu//KWWsfPWdLfucQBt1PrizRG+8hDlqIS8HXKMyInoJVgAJms3eR90WJGAH5EMagJPRvOoH4Cu4GpIVeVwJkZYj5d4TUfE9w2fApNL0yRm/kIszYaQlyEqICo+eDEIbRKj1U/hIi0RR3B4YZdnO7EPLQjHedMUH8ZgCl9scLSBmQZSPUIXdgAhRmQSwqkNJyNAF9UnctmKPrSElp2pW3kbOnPNzssERoqsZlso3dhdlX5EZozPzbiZIFSRr7Wyf0x0GBifguIfpM1m0FmiisihCm0pUX8JOkfsK+J/IIYMzdDBfwe6DzHrFbj7eWoOsDr928Vv+ouuY/yfASuYyFl+0AAAAASUVORK5CYII=" />
            </span>
              <%= link_to user_with_full_name(user), user_path(user), :class => 'name', :data => {:toggle=>"dropdown"}, :target => '_blank' %>
            </div>
          </li>
        <% end %>
        
        

      </ul>

    </div>


  <div class="col-md-6">


    <div class="view-main-doc">
      <iframe style="width: 400px; height: 520px;" src="/statements/<%= @statement.id %>.pdf"/>
      </iframe>

    </div>


    <br><br>


  </div>
</div>










<!--<div class="container">-->


    	<!--<%= render @statement %>-->

<!--</div>-->