


<div class="container">

  <ul class="row top-pannel clearfix">
    <li class="col-md-5">
      <h1 class="dropdown">Лист замечаний</h1>
    </li>
    <li class="col-md-4 pull-right">
      <%= render 'shared/user' %>
    </li>

  </ul>

</div>

<div class="container">


    	<%= form_for @task_list do |f| %>
  		<%= f.hidden_field :statement_id, :value => params[:id] %>

  		<%= f.text_field(:deadline, :class => 'input-medium', :placeholder => 'Дата исполонения') %><br>

  		<h4>Задачи:</h4>

  		<%= f.fields_for :tasks do |builder| %>
        <%= render 'task_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "Добавить задачу", f, :tasks %>


  		<%= f.submit "Создать список замечаний", :class => 'btn' %>
  		<% end %>

</div>
