<h2 id="form_elements">Элементы форм</h2>

<%= render 'library/form_elements/simple' %>
<%= render 'library/form_elements/datepicker' %>
<%= render 'library/form_elements/fileinput' %>



<p>
  примеры поискового инпута
</p>
<div class="bs-example">
  <div class="input-group">
    <input type="search" class="form-control js-input-with-icon" placeholder="поисковый инпут">
    <span class="input-group-icon search"></span>
  </div>
</div>
<div class="highlight">
  <pre class="prettyprint lang-html"><%= html_escape %q{
  <div class="input-group">
    <input type="search" class="form-control js-input-with-icon" placeholder="поисковый инпут">
    <span class="input-group-icon search"></span>
  </div>
  }%></pre>
</div>




<p>
  пример инпута с ниспадающим списком С множественным выбором
</p>
<div class="bs-example">
  <select class="form-control js-chosen" data-placeholder="Организация-получатель" multiple="multiple">
    <option value="1">ОП "УЭ КЗС" ОАО "Метрострой</option>
    <option value="2">ФКП «Дирекция КЗС Минрегиона России» </option>
  </select>
</div>
<div class="highlight">
  <pre class="prettyprint lang-html"><%= html_escape %q{
    <select class="form-control js-chosen" data-placeholder="Организация-получатель" multiple="multiple">
      <option value="1">ОП "УЭ КЗС" ОАО "Метрострой</option>
      <option value="2">ФКП «Дирекция КЗС Минрегиона России» </option>
    </select>
  }%></pre>
</div>

<p>
  пример инпута с ниспадающим списком С ПОИСКОМ
</p>
<div class="bs-example">
  <select class="form-control js-chosen-search" data-placeholder="Организация-получатель">
    <option value="1">ОП "УЭ КЗС" ОАО "Метрострой</option>
    <option value="2">ФКП «Дирекция КЗС Минрегиона России» </option>
  </select>
</div>




<div class="highlight">
  <pre class="prettyprint lang-html"><%= html_escape %q{
    <select class="form-control js-chosen-search" data-placeholder="Организация-получатель" multiple="multiple">
      <option value="1">ОП "УЭ КЗС" ОАО "Метрострой</option>
      <option value="2">ФКП «Дирекция КЗС Минрегиона России» </option>
    </select>
  }%></pre>
</div>

