<h2 id="form_elements">Элементы форм</h2>

<%= render 'library/form_elements/simple' %>
<%= render 'library/form_elements/help' %>
<%= render 'library/form_elements/datepicker' %>
<%= render 'library/form_elements/fileinput' %>



<p>
  примеры поискового инпута
</p>
<div class="bs-example">
  <div class="input-group">
    <input type="search" class="form-control js-input-with-icon" placeholder="поисковый инпут">
    <span class="input-group-icon search"></span>
  </div>
</div>
<div class="highlight">
  <pre class="prettyprint lang-html"><%= html_escape %q{
  <div class="input-group">
    <input type="search" class="form-control js-input-with-icon" placeholder="поисковый инпут">
    <span class="input-group-icon search"></span>
  </div>
  } %></pre>
</div>




<p>
  пример инпута с ниспадающим списком С множественным выбором
</p>
<div class="bs-example">
  <select class="form-control js-chosen" data-placeholder="Организация-получатель" multiple="multiple">
    <option value="1">ОП "УЭ КЗС" ОАО "Метрострой</option>
    <option value="2">ФКП «Дирекция КЗС Минрегиона России»</option>
  </select>
</div>
<div class="highlight">
  <pre class="prettyprint lang-html"><%= html_escape %q{
    <select class="form-control js-chosen" data-placeholder="Организация-получатель" multiple="multiple">
      <option value="1">ОП "УЭ КЗС" ОАО "Метрострой</option>
      <option value="2">ФКП «Дирекция КЗС Минрегиона России» </option>
    </select>
  } %></pre>
</div>

<p>
  пример инпута с ниспадающим списком С ПОИСКОМ
</p>
<div class="bs-example">
  <select class="form-control js-chosen-search" data-placeholder="Организация-получатель">
    <option value="1">ОП "УЭ КЗС" ОАО "Метрострой</option>
    <option value="2">ФКП «Дирекция КЗС Минрегиона России»</option>
  </select>
</div>




<div class="highlight">
  <pre class="prettyprint lang-html"><%= html_escape %q{
    <select class="form-control js-chosen-search" data-placeholder="Организация-получатель" multiple="multiple">
      <option value="1">ОП "УЭ КЗС" ОАО "Метрострой</option>
      <option value="2">ФКП «Дирекция КЗС Минрегиона России» </option>
    </select>
  } %></pre>
</div>


<p>Скрытый инпут пасаны</p>

<div class="bs-example">
  <input id="permit_permit_type" name="permit[permit_type]" type="hidden" value="vehicle">
</div>

<div class="highlight">

  <p>Вызов/сокрытие скрытого поля формы</p>

  <div class="bs-example">
    <div class="form-group js-hidden-field">
      <label class="col-sm-3"></label>
      <div class="form-group">
        <div class="col-sm-6">
          <input class="form-control col-sm-12" id="permit_daily_pass_attributes_document_type" name="permit[daily_pass_attributes][document_type]" placeholder="Название документа" size="30" type="text" value="doc"/>
        </div>
        <a href="#" class="btn btn-icon pull-left js-other-document-field-hide">
          <span class="span fa fa-times-circle-o"></span>
        </a>
      </div>
    </div>
  </div>
</div>

  <ul class="nav nav-pills">
    <li><a href="#hidden-input-slim" data-toggle="tab">slim</a></li>

  </ul>


  <div class="tab-content">
    <div class="tab-pane" id="hidden-input-slim">
      <pre class="prettyprint linenums lang-ruby">
         <%= html_escape %q{
        = f.hidden_field :permit_type, value: 'vehicle'
                         } %>

       </pre>
    </div>
  </div>

</div>

