= link_to '#', class: 'dropdown-toggle btn btn-sm', data: {toggle: 'dropdown'}, remote: true do
  Действия
  %span.caret
  %span.dropdown-arr
%ul.dropdown-menu{role: 'menu'}
  - if show
    %li= link_to 'Просмотр', document_path(document_id), :id => 'show'
  - if create_draft
    %li= link_to 'Создать по образу и подобию', copy_document_path(document_id), :id => 'create_copy_link'
  - if edit
    %li= link_to 'Редактировать', edit_document_path(document_id), :id => 'edit_link'
  - if prepare
    %li= link_to 'Подготовить', prepare_document_path(document_id), :name => 'prepare', data: { confirm: 'Вы уверены?' }
  - if approve
    %li= link_to 'Подписать', approve_document_path(document_id), :name => 'approve', :id => 'approve_link', data: { confirm: 'Вы уверены?' }
  - if send_document
    %li= link_to 'Отправить', send_document_document_path(document_id), :name => 'send', :id => 'send_link', data: { confirm: 'Вы уверены?' }
  - if reply
    %li= link_to 'Ответить', reply_document_path(document_id), :id => 'reply_link'