<div class="row">
	
 <%= render 'shared/left' %>
	
	<div class="span8">

  <%= render 'shared/user' %>
    
    <% if action?('new') %>
		<h1 class="doc_header">
		  <% if params[:type] == 'mail' %>
			Новое письмо
		  <% elsif params[:type] == 'writ' %>
			Новое распоряжение
			<% end %>
		<span class="caret"></span></h1>
		<% end %>


	<div class="btn-toolbar">
			<%= link_to "Назад", :back, :class => "btn" %>
      <!-- <%= link_to "Шаблоны", "#", :class => "btn" %>
      <%= link_to "Черновики", drafts_documents_path, :class => "btn" %> -->
	</div>
	
	<%= form_for(@document) do |f| %>
	
	<!-- hidden_fields -->
	<% if action?('new') %>
	<%= f.hidden_field :document_type, :value => params[:type] %>
	<% elsif action?('reply') %>
	<%= f.hidden_field :document_type, :value => @original_document.document_type %>
	<% elsif %>
	<%= f.hidden_field :document_type, :value => @document.document_type %>
	<% end %>
	
	<%= f.hidden_field :document_conversation_id, :value => @document_conversation_id %>
  <!-- end -->
	
	<%= f.text_field :title, :class => 'input-xxlarge', :placeholder => 'Тема' %>
	
	<%= f.collection_select(:organization_ids, Organization.where('id != ?', current_user.organization_id), :id, :title, {:include_blank => false, :selected => @document.organization_id}, {multiple: true, :style=>'width:544px;', :'data-placeholder' => "Организация-получатель"}) %>
	<%= f.collection_select(:approver_ids, @approvers, :id, :first_name_with_last_name, {:selected => @document.approver_id}, {multiple: true, :style=>'width:544px', :'data-placeholder' => "Контрольное-лицо"}) %>
	<%= f.collection_select(:executor_ids, @executors.all, :id, :first_name_with_last_name, {:selected => @document.executor_id}, {multiple: true, :style=>'width:544px', :'data-placeholder' => "Исполнитель", :id => "document_executor_ids"}) %>
	<%= f.text_area :text, :class => 'input-xxlarge letter_input', :placeholder => 'Текст', :rows => "20" %>
	
	  
	  <% if @document.document_type == 'writ' || params[:type] == 'writ' %>    
      <%= f.fields_for :tasks do |builder| %>
        <%= render 'task_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "Добавить задачу", f, :tasks   %>
    <% end %>
	  
    <%= f.fields_for :document_attachments do |builder| %>
      <%= render 'document_attachment_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Добавить приложение", f, :document_attachments   %>
      

    <a href="#" class="add_documents">Прикрепить документы</a>
    <div class="list_to_add_documents">
    <%= hidden_field_tag "document[document_ids][]", nil %>
    <% @documents.each do |document| %>
    <label class="checkbox">
    <%= check_box_tag "document[document_ids][]", document.id, @document.document_ids.include?(document.id), id: dom_id(document) %>
    <b><%= document.title %></b> ||
    <%= t(document.document_type) %> ||
    <%= Russian::strftime(document.created_at, "%d %B %Y %H:%M") %>
    </label>
    <% end %>
    </div>
    

	
	
	<%= render 'actions_form', :f => f %>

	<% end %>
</div>
