<table class="table dynamic-table default-table" id="<%= @controller %>">
  <thead>
  <tr>
    <% unless action?('show') %>
        <th width="50"><label class=""><%= check_box_tag "document_ids[]", nil, nil, :id => "select_all_documents" %>
          <span class="checkbox-label"></span>
        </label></th>
    <% end %>
    <th width="120"><%= sortable "id", "Номер / Дата", "sortable current" %></th>
    <th width="200"><%= sortable "sender_organization_id", "Отправитель", "sortable ascending" %></th>
    <th width="200"><%= sortable "organization_id", "Получатель", "sortable ascending" %></th>
    <th width="100"><%= sortable "title", "Тема", "sortable ascending" %></th>
    <th width="100"><%= sortable "document_type", "Тип", "sortable ascending" %></th>
    <th width="50"></th>
    <th width="100" class="status"><%= sortable_status %></th>
  </tr>
  </thead>
  <tbody>
  <% @documents.each do |document| %>

      <tr id="<%= document.id %>" <%= new_document(document) %>>
        <% unless action?('show') %>
            <td class="not_this">
              <label class=""><%= check_box_tag "document_ids[]", document.id, nil, :class => 'document_operation' %>
                <span class="checkbox-label"></span>
              </label></td>
        <% end %>
        <td><a class="document_id" href="/<%= @controller %>/<%= document.id %>"><%= document.id %></a>
          / <%= Russian::strftime(document.created_at, "%d.%m.%y") %></td>
        <td><%= link_to organization_short_title(document.sender_organization_id), organization_path(document.sender_organization_id), :target => '_blank' %></td>
        <td><%= link_to organization_short_title(document.organization_id), organization_path(document.organization_id), :target => '_blank' %></td>
        <td><%= truncate(document.title, length: 13) %></td>
        <td class="exp_type">
          <% if document.document_type == 'mail' %>
              Письмо
          <% elsif document.document_type == 'writ' %>
              Распоряжение
          <% end %>
        <td>
          <% unless document.document_attachments.blank? %>
              <%= image_tag('attachement_ico.png') %>
          <% end %>
        </td>
        <td class="status">
          <%= document_status(document) %>

        </td>


        <td colspan="9" class="inform">
          <div class="col-md-8">
            <ul class="doc-info">
              <li>
                <span class="title">Номер и дата:</span><span class="value"><a href="#"><%= document.id %></a> / <%= if document.sent then
                                                                                                                        document.sent_date.strftime('%d.%m.%Y')
                                                                                                                      else
                                                                                                                        'Дата не присвоена'
                                                                                                                      end %></span>
              </li>
              <li>Тип документа: <%= t document.document_type %></li>
              <li> <%= document_status(document) %></li>
              <li><span class="title">Тема:</span>
						<span class="value">
						  <span class="h3"><%= document.title %></span>
							<ol class="breadcrumb">
                              <li><%= link_to organization_full_title(document.sender_organization_id), organization_path(document.sender_organization_id), :target => '_blank' %></li>
                              <li><%= link_to organization_full_title(document.organization_id), organization_path(document.organization_id), :target => '_blank' %></li>
                            </ol>
						</span>
              </li>
              <li>
                <span class="title valign-mid">Исполнитель:</span>

                <div class="user value">
                  <span class="photo"> <i class="default-user" ></i></span>
                  <a href="#" class="name"><%= user_with_full_name(document.executor_id) %></a>

                </div>
              </li>
              <li><span class="title valign-mid">Отправитель:</span>

                <div class="user value">
                  <span class="photo">
                    <i class="default-user"></i>
                  </span>
                  <a href="#" class="name">
                    <%= user_with_full_name(document.user_id) %>
                  </a>
                </div>
              </li>
              <% unless document.document_attachments.blank? %>
                  <li class="doc-format"><span class="title">Приложения: количество</span>

                  </li>
              <% end %>
            </ul>
            <div class="nav-pills nav controls">
              <!--<a class="btn btn-default">История переписки</a>-->
              <a class="btn btn-default" href="/<%= @controller %>/<%= document.id %>">Открыть</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="view-main-doc">
              <div class="overlay"><a href="/<%= @controller %>/<%= document.id %>.pdf" target="_blank" class="zoom"></a></div>
              <iframe style="width: 190px; height: 264px;" />
              </iframe>

            </div>
          </div>
          <div class="inform-hide">Close</div>
        </td>
      </tr>

  <% end %>
  </tbody>
</table>