<table class="table dynamic-table default-table">
  	<thead>
  	 <tr>
		<% unless action?('show') %>
	    <th width="50"><label class=""><%= check_box_tag "document_ids[]", nil, nil, :id => "select_all_documents" %>
   <span class="checkbox-label"></span>
</label></th>
		<% end %>
	    <th width="170"><%= sortable "id", "Номер / Дата", "sortable current" %></th>
	    <th width="270"><%= sortable "sender_organization_id", "Отправитель", "sortable ascending" %></th>
        <th width="250"><%= sortable "organization_id", "Получатель", "sortable ascending" %></th>
        <th width="100"><%= sortable "title", "Тема", "sortable ascending" %></th>
	    <th width="100"><%= sortable "document_type", "Тип", "sortable ascending" %></th>
	    <th></th>
	    <th width="100" class="status"><%= sortable_status %></th>
	  </tr>
	  </thead>
	  <tbody>
	<% @documents.each do |document| %>

       <tr id="<%= document.id %>">
		<% unless action?('show') %>
		<td class="not_this"><label class=""><%= check_box_tag "document_ids[]", document.id, nil, :class => 'document_operation' %><span class="checkbox-label"></span>
</label></td>
		<% end %>
		<td><a class="document_id" href="documents/<%= document.id %>"><%= document.id %></a> / <%= Russian::strftime(document.created_at, "%d.%m.%y") %></td>
	    <td><%= link_to organization_full_title(document.sender_organization_id), organization_path(document.sender_organization_id) %></td>
		  <td><a href=""><%= organization(document.organization_id) %> </a></td>

		  <td><%= truncate(document.title, length: 13) %></td>
	    <td class="exp_type">
		  <% if document.document_type == 'mail' %>
		    Письмо
		  <% elsif document.document_type == 'writ' %>
			Распоряжение
		  <% end %>
	    <td>
			<% unless document.document_attachments.blank? %>
			<%= image_tag('attachement_ico.png') %>
			<% end %>
		</td>
	    <td class="status dropdown">
          <%= document_status(document) %>
          <ul class="dropdown-menu drop-left" role="menu">
            <li class="time">Последий статус назначен:
              <span class="date"><!--  document_status_date(document) --></span>
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%=  document_status_progress(document) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%=  document_status_progress(document) %>%">
                  <span class="sr-only"><%=  document_status_progress(document) %>% Complete (success)</span>
                </div>
              </div>
            </li>

            <li class="status-history"><a href="#" class="icon-clock">История статусов</a></li>
            <!-- document_status_list(@document) -->
            <li class="dropdown-arr"></li>
            <li><a href="#" class="icon-block-1">Отмена</a></li>
          </ul>
        </td>
	  </tr>

	<% end %>
	</tbody>
</table>