<table class="table dynamic-table default-table">
  	<thead>
  	 <tr>
		<% unless action?('show') %>
	    <th width="50"><label class=""><%= check_box_tag "document_ids[]", nil, nil, :id => "select_all_documents" %>
   <span class="checkbox-label"></span>
</label></th>
		<% end %>
	    <th width="150"><%= sortable "id", "Номер / Дата", "sortable current" %></th>
	    <th width="250"><%= sortable "sender_organization_id", "Отправитель", "sortable ascending" %></th>
          <th width="250"><%= sortable "organization_id", "Получатель" %></th>
          <th width="100"><%= sortable "title", "Тема" %></th>
	    <th width="100"><%= sortable "document_type", "Тип" %></th>
	    <th width="30"></th>
	    <th idth="100" class="status"><%= sortable_status %></th>
	  </tr>
	  </thead>
	  <tbody>
	<% @documents.each do |document| %>
	
	  <tr>
		<% unless action?('show') %>
		<td class="not_this"><label class=""><%= check_box_tag "document_ids[]", document.id, nil, :class => 'document_operation' %><span class="checkbox-label"></span>
</label></td>
		<% end %>
		<td><a class="document_id"><%= document.id %></a> / <%= Russian::strftime(document.created_at, "%d.%m.%y") %></td>
	    <td><%= organization(document.sender_organization_id) %></td>
		  <td><%= organization(document.organization_id) %> </td>

		  <td><%= truncate(document.title, length: 13) %></td>
	    <td class="exp_type">
		  <% if document.document_type == 'mail' %>
		    Письмо
		  <% elsif document.document_type == 'writ' %>
			Распоряжение
		  <% end %>
	    <td>
			<% unless document.document_attachments.blank? %>
			<%= image_tag('attachement_ico.png') %>
			<% end %>
		</td>
	    <td class="status"><%= document_status(document) %></td>
	  </tr>
		<%#= render 'full_element', :document => document %>
	<% end %>
	</tbody>
</table>