<div class="container">
  <ul class="row top-pannel clearfix">
    <li class="col-md-8">
      <span class="dropdown full-drop">
        <h1 data-toggle="dropdown">Черновики<span class="caret"></span></h1>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Письма <span class="count">(112)</span></a></li>
          <li><a href="#">Акты <span class="count">(23)</span></a></li>
          <li><a href="#">Распоряжения <span class="count">(43)</span></a></li>
          <li><a href="#">Черновики <span class="count">(43)</span></a></li>
          <li><a href="#">Отмена</a></li>
        </ul>
      </span>
    </li>
    <li class="col-md-4 pull-right">
      <%= form_tag documents_path, method: :get, :remote => true, :id => "text-search" do %>
          <%= render 'shared/user' %>
      <% end %>
    </li>
  </ul>
  <%= render 'panel' %>
  <div class="span12">
    <%= form_tag documents_batch_path, method: :put do %>
        <div id="document_table"><%= render 'table' %></div>
    <% end %>
  </div>
</div>
