
  
<%= form_tag documents_path, method: :get, :remote => true, :id => "text-search" do %>


    <div class="container">
      <ul class="row top-pannel clearfix">
        <li class="col-md-5">
          <h1 class="dropdown">Все документы<span class="caret"></span></h1>
        </li>
        <li class="col-md-3"></li>
        <li class="col-md-4 pull-right">
          <%= render 'shared/user' %>
        </li>

      </ul>


      <%= render 'panel' %>
    </div>

<% end %>
<%= form_tag documents_batch_path, method: :put do %>
    <div class="container">
    <div id="document_table" class="default-table"><%= render 'table'%></div>
    </div>
<% end %>
