<div class="container">
  <ul class="row top-pannel clearfix">
    <li class="col-md-8">
      <a href="#"><%= link_to "Назад", :back, :class => "btn btn-sm back-btn" %></a>
      <% if action?('new') %>
          <h1>
            <% if params[:type] == 'mail' %>
                Новое письмо
            <% elsif params[:type] == 'writ' %>
                Новое распоряжение
            <% end %>
          </h1>
      <% end %>
    </li>
    <li class="col-md-4 pull-right">
      <%= form_tag documents_path, method: :get, :remote => true, :id => "text-search" do %>
          <%= render 'shared/user' %>
      <% end %>
    </li>
  </ul>
  <ul class="nav nav-pills">
    <li><%= link_to "Шаблоны", "#", :class => "btn btn-sm btn-default" %></li>
    <li><%= link_to "Черновики", drafts_documents_path, :class => "btn btn-sm btn-default" %> </li>
  </ul>

<%= render 'form' %>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <div class="list_to_add_documents">
            <%= hidden_field_tag "document[document_ids][]", nil %>
            <% @documents.each do |document| %>
                <label class="checkbox">
                  <%= check_box_tag "document[document_ids][]", document.id, @document.document_ids.include?(document.id), id: dom_id(document) %>
                  <b><%= document.title %></b> ||
                  <%= t(document.document_type) %> ||
                  <%= Russian::strftime(document.created_at, "%d %B %Y %H:%M") %>
                </label>
            <% end %>
          </div>
        </div>
        <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" >Close</button>-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-primary">Сохранить</button>data-dismiss="modal"&ndash;&gt;-->
        <!--</div>-->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
