<ul class="nav nav-inline btn-block">


<!--<li>-->
  <!--<%= link_to(:back, :class => "btn btn-default") do %>-->

      <!--<span class="fa fa-arrow-left"></span><span>назад</span>-->
  <!--<% end %>-->
<!--</li>-->

  <% if current_user.has_permission?(6) %>
  <li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-primary">
      <span>Создать пропуск</span>
      <span class="caret"></span>
      <!--<span class="dropdown-arr"></span>-->
    </a>
    <ul class="dropdown-menu" >
      <li><%= link_to "На сотрудника", :new_user_permit%></li>
      <li><%= link_to "На транспорт", permits_vehicle_path %></li>
      <li><%= link_to "Разовый пропуск", permits_daily_path %></li>
    </ul>
  </li>
  <% end %>
  <!--<% unless action?('index') %>-->
  <!--<li>-->
		<!--<%= link_to " назад", :back, :class => "btn-sm back-btn btn" %>-->
	<!--</li>-->
	<!--<% end %>-->
  <!---->
  <!--<% if current_user.has_permission?(6) %>-->
  <!--<li>-->
  	<!--<%= link_to "Новая заявка", new_permit_path, :class=> "btn-sm btn" %>-->
  <!--</li>-->
  <!--<% end %>-->
  <!---->
  <!--<li>-->
  	<!--<%= link_to "Все пропуска", permits_path, :class=> (params[:scope] ? 'btn btn-sm' : 'btn btn-primary btn-sm')  %>-->
  <!--</li>-->

  <!--<li>-->
  	<!--<%= link_to "Текущие заявки", permits_path(:scope => :application), :class => (params[:scope] == 'application' ? 'btn btn-primary btn-sm' : 'btn btn-sm') %>-->
  <!--</li>-->

  <!--<li>-->
  	<!--<%= link_to "Просроченные", permits_path(:scope => :expired), :class => (params[:scope] == 'expired' ? 'btn btn-primary btn-sm' : 'btn btn-sm') %>-->
  <!--</li>-->
  <!---->
  <!--<li>-->
  	<!--<%= link_to "Групповая печать пеш пропусков", permits_path(:scope => :for_print), :class => (params[:scope] == 'for_print' ? 'btn btn-primary btn-sm' : 'btn btn-sm') %>-->
  <!--</li>-->

</ul>