<!--TODO: @tag refactor to simple form lang-->
  <label class="control radio">
    <%= f.radio_button :permit_type, "user", :checked => true  %>
    <span id="user_type" class="radio-label">Для сотрудника</span>
  </label>

  <label class="control radio">
    <%= f.radio_button :permit_type, "vehicle"  %>
    <span id="vehicle_type" class="radio-label">на транспортное средство</span>
  </label>

  <label class="control radio">
    <%= f.radio_button :permit_type, "daily"  %>
    <span id="daily_pass" class="radio-label">разовый пропуск</span>
  </label>

  

  
  <div id="permit_user_fields">
  <h3>1. Личные данные</h3>
  <%= f.fields_for :user do |v| %>
    <%= render 'user_fields', v: v %>
  <% end %>
  </div>
  

  
  <div id="permit_vehicle_fields">
  <h3>1. Тип пропуска</h3>
  <div class="form-item"><%= f.select(:permit_class, Permit::PERMIT_CLASSES.map { |a| [ t(a), a ] }, { include_blank: false }, { :class => 'form-control col-xs-5'}) %></div>
  <h3>2. Данные техсредства</h3>
  <%= f.fields_for :vehicle do |v| %>
      <%= render 'vehicle_fields', v: v %>
      <% end %>
  
  <h3>3. Водители</h3>
  <div class="form-item">
  <label class="control checkbox">
  <%= f.check_box :way_bill %>
  <span class="checkbox-label">Согласно путевого листа</span>
  </label>
  </div>
  <div class="form-item"><%= f.collection_select(:drivers, @drivers, :id, :first_name_with_last_name, {:selected => @permit.vehicle.user_ids}, {multiple: true, :style=>'width:544px', :'data-placeholder' => "Добавьте водителей", :id => "permit_drivers"}) %></div>

  </div>
  <div class="form-item controls" id="date_fields">
  <span class="form-label col-xs-3">Пропуск действителен с</span><%= f.text_field :start_date, :size => 10, :placeholder => 'Дата начала', :class => 'form-control col-xs-7' %>
  <span class="form-label">по</span> <%= f.text_field :expiration_date, :placeholder => 'Дата окончания', :class => 'form-control col-xs-5'  %>
  </div>
	
	<div id="temporary_permit_fields">
	  <h3>Разовый пропуск</h3>
    <%= f.fields_for :daily_pass do |v| %>
      <%= render 'daily_pass_fields', v: v %>
    <% end %>
  </div>

	


