  
  <label class="control radio">
    <%= f.radio_button :permit_type, "user", :checked => true  %>
    <span id="user_type" class="radio-label">Для сотрудника</span>
  </label>
  
  <label class="control radio">
    <%= f.radio_button :permit_type, "vehicle"  %>
    <span id="vehicle_type" class="radio-label">на транспортное средство</span>
  </label>

  
  <div id="permit_user_fields">
  <h3>1. Личные данные</h3>
  <%= f.fields_for :user do |v| %>
    <%= render 'user_fields', v: v %>
  <% end %>
  
  
  
  </div>
  
  <div id="permit_vehicle_fields">
  <h3>1. Тип пропуска</h3>
  <%= f.select(:permit_class, Permit::PERMIT_CLASSES.map { |a| [ t(a), a ] }, { include_blank: false }) %>
  <h3>2. Данные техсредства</h3>
  <%= f.fields_for :vehicle do |v| %>
    <%= render 'vehicle_fields', v: v %>
  <% end %>
  
  <h3>3. Водители</h3>
  
  <label class="control checkbox">
     <%= f.check_box :way_bill %>
     <span class="checkbox-label">Согласно путевому листу</span>
  </label>
  
  <br>
  
    <%= f.collection_select(:drivers, @drivers, :id, :first_name_with_last_name, {:selected => @permit.vehicle.user_ids}, {multiple: true, :style=>'width:544px', :'data-placeholder' => "Добавьте водителей", :id => "permit_drivers"}) %> 
    

    
  </div>
  
  <!-- <h3>2. Условия посещения</h3> -->
  
  <!-- <label class="control radio">
    <input type="radio" name="radio" checked="checked">
    <span id="permanent" class="radio-label">постоянный пропуск</span>
  </label> -->
  
  <!-- <label class="control radio">
    <input type="radio" name="radio">
    <span id="temporary" class="radio-label">разовый пропуск</span>
  </label> -->
  
  <div class="control-group">
	  <div class="controls">
		
		<div id="permanent_fields">
		<span class="permit_label">Пропуск действителен с</span><%= f.text_field :start_date, :size => 10, :placeholder => 'Дата начала' %>
		<span class="permit_label">по</span> <%= f.text_field :expiration_date, :placeholder => 'Дата окончания' %>
		</div>
		
		<div id="temoporary_fields">
		<span class="permit_label">Пропуск действителен</span> <%= f.text_field :date, :placeholder => 'Дата' %>
		</div>
		


    <!-- <%= f.text_field :number, :placeholder => 'номер пропуска' %> -->
	  </div>
	</div>

	


