  
  <label class="control radio">
    <%= f.radio_button :permit_type, "vehicle", :checked => true  %>
    <span id="vehicle_type" class="radio-label">на транспортное средство</span>
  </label>
  
  
  <label class="control radio">
    <%= f.radio_button :permit_type, "user"  %>
    <span id="user_type" class="radio-label">Для сотрудника</span>
  </label>

  
  <div id="permit_user_fields">
  <h3>1. Личные данные</h3>
  <%= f.collection_select(:user_id, User.all, :id, :first_name_with_last_name, { include_blank: true }) %>
  </div>
  
  <div id="permit_vehicle_fields">
  <h3>1. Данные техсредства</h3>
  <%= f.fields_for :vehicle do |v| %>
    <span class="permit_label">Тип</span><%= v.select(:vehicle_body, Vehicle::WORK_STATUSES.map { |a| [ t(a), a ] }, { include_blank: false }) %><br>
    <span class="permit_label">Марка</span><%= v.collection_select(:brand, CarBrand.all, :title, :title) %><%= v.text_field :model, :placeholder => 'Модель' %><br>
    <span class="permit_label">Номер СТС</span><%= v.text_field :register_document, :placeholder => 'Номер СТС' %>
    <br>
    <span class="permit_label">Номер ГРЗ</span>
    <%= v.select(:first_letter, Vehicle::LETTERS.map { |a| [ t(a), a ] }, { include_blank: false }, {:style=>'width:50px'}) %>
    <%= v.text_field(:sn_number, :placeholder => 'Номер') %>
    <%= v.select(:second_letter, Vehicle::LETTERS.map { |a| [ t(a), a ] }, { include_blank: false }, {:style=>'width:50px'}) %>
    <%= v.select(:third_letter, Vehicle::LETTERS.map { |a| [ t(a), a ] }, { include_blank: false }, {:style=>'width:50px'}) %>
    <%= v.text_field(:sn_region, :placeholder => 'Регион') %>
  <% end %>
  
  <h3>1. Водители</h3>
    <%= f.collection_select(:drivers, User.all, :id, :first_name_with_last_name, {:selected => @permit.vehicle.users}, {multiple: true, :style=>'width:544px', :'data-placeholder' => "Добавьте водителей", :id => "permit_drivers"}) %>
  </div>
  
  <h3>2. Условия посещения</h3>
  
  <label class="control radio">
    <input type="radio" name="radio" checked="checked">
    <span id="permanent" class="radio-label">постоянный пропуск</span>
  </label>
  
  <label class="control radio">
    <input type="radio" name="radio">
    <span id="temporary" class="radio-label">разовый пропуск</span>
  </label>
  
  <div class="control-group">
	  <div class="controls">
		
		<div id="permanent_fields">
		<span class="permit_label">Пропуск действителен с</span><%= f.text_field :start_date, :size => 10, :placeholder => 'Дата начала' %>
		<span class="permit_label">по</span> <%= f.text_field :expiration_date, :placeholder => 'Дата окончания' %>
		</div>
		
		<div id="temoporary_fields">
		<span class="permit_label">Пропуск действителен</span> <%= f.text_field :date, :placeholder => 'Дата' %>
		</div>
		
		
		
		
		
		<br>
		<%= f.select(:permit_class, Permit::PERMIT_CLASSES.map { |a| [ t(a), a ] }, { include_blank: false }) %>

    <!-- <%= f.text_field :number, :placeholder => 'номер пропуска' %> -->
	  </div>
	</div>

	


