
  <div class="control-group">
	  <div class="controls">
		<%= f.text_field :number, :placeholder => 'номер' %>
		<%= f.select(:permit_class, Permit::PERMIT_CLASSES.map { |a| [ t(a), a ] }, { include_blank: false }) %>
		<br>
		<%= f.text_field :start_date, :placeholder => 'начало действия' %>
		<%= f.text_field :expiration_date, :placeholder => 'окончание действия' %>
		
		
		
		<%= label_tag "Тип пропуска" %>
		<%= f.select(:permit_type, Permit::TYPES.map { |a| [ t(a), a ] }, { include_blank: false }) %>
		
    <%= f.collection_select(:user_id, User.all, :id, :first_name_with_last_name) %>
    <%= f.collection_select(:vehicle_id, Vehicle.all, :id, :vehicle_title) %>
    
	  </div>
	</div>

	


