<table class="table permits_table" style="font-size: 12px; width: 900px;">
  	 <tr>
	    <th><%= sortable "number", "№" %></th>
			<th><%= sortable "permit_type", "Тип" %></th>
			<!-- <th>Цель пребывания</th> -->
			<th><%= sortable "start_date", "Начало срока действия" %></th>
			<th><%= sortable "expiration_date", "Окончание срока действия" %></th>
			<!-- <th>Сектор зоны посещения</th> -->
			<!-- <th>Объект посещения</th> -->
			<th><%= sortable_status %></th>
	    <th>Детали</th>
	  </tr>

	<% @permits.each do |permit| %>
	  <tr id="<%= permit.id %>">
			<td><%= permit.number %></td>
			<th><%= t(permit.permit_type) %></th>
			<!-- <th><%= permit.purpose %></th> -->
			<th><%= permit.start_date.strftime("%d.%m.%y") %></th>
			<th><%= permit.expiration_date.strftime("%d.%m.%y") %></th>
			<!-- <th><%= permit.granted_area %></th> -->
			<!-- <th><%= permit.granted_object %></th> -->
			<td><%= permit_status(permit) %></td>
	    <td><%= link_to "Подробнее", permit %></td>
	  </tr>
	<% end %>
</table>