<table class="table permits_table" style="font-size: 12px; width: 900px;">
  	 <tr>
  	  <th></th>
	    <th><%= sortable "id", "№" %></th>
			<th><%= sortable "permit_type", "Тип" %></th>
			<th><%= sortable "start_date", "Начало срока действия" %></th>
			<th><%= sortable "expiration_date", "Окончание срока действия" %></th>
			<th><%= sortable_status %></th>
	    <th>Детали</th>
	  </tr>

	<% @permits.each do |permit| %>
	  <tr id="<%= permit.id %>">
	    <td class="not_this">
	      <label class="control checkbox"><%= check_box_tag "permit_ids[]", permit.id, nil, :class => 'permit_operation' %>
	        <span class="checkbox-label"></span>
        </label>
      </td>
			<td><%= permit.id %></td>
			<td><%= t(permit.permit_type) %></th>
			<td><%= permit.start_date.strftime("%d.%m.%y") if permit.start_date %></th>
			<td><%= permit.expiration_date.strftime("%d.%m.%y") if permit.expiration_date %></th>
			<td><%= permit_status(permit) %></td>
	    <td><%= link_to "Подробнее", permit %></td>
	  </tr>
	<% end %>
</table>