<span class="form-item"><%= v.text_field(:last_name, :placeholder => 'Фамилия', :class => 'form-control col-xs-5', :value => @permit.user.last_name) %></span>  <!--# ||= ""-->
<span class="form-item"><%= v.text_field(:first_name, :placeholder => 'Имя', :class => 'form-control col-xs-5', :value => @permit.user.first_name) %></span>
<span class="form-item"><%= v.text_field(:middle_name, :placeholder => 'Отчество', :class => 'form-control col-xs-5', :value => @permit.user.middle_name) %></span>

<span class="form-item"><%= v.collection_select(:organization_id, Organization.where(:id => current_user.organization_id).all, :id, :title, {}, {:class => 'form-control col-xs-5'}) %></span>
<span class="form-item"><%= v.text_field(:position, :placeholder => 'Должность', :class => 'form-control col-xs-5', :value => @permit.user.position) %></span>