<span class="permit_label">Тип</span><%= v.select(:vehicle_body, Vehicle::WORK_STATUSES.map { |a| [ t(a), a ] }, { include_blank: false }) %><br>
<span class="permit_label">Марка</span><%= v.collection_select(:brand, CarBrand.all, :title, :title) %><%= v.text_field :model, :placeholder => 'Модель' %><br>
<span class="permit_label">Номер ГРЗ</span>
<% if @permit.new_record? %>
<%= v.select(:first_letter, Vehicle::LETTERS.map { |a| [ t(a), a ] }, { include_blank: false }, {:style=>'width:50px'}) %>
<%= v.text_field(:sn_number, :placeholder => 'Номер') %>
<%= v.select(:second_letter, Vehicle::LETTERS.map { |a| [ t(a), a ] }, { include_blank: false }, {:style=>'width:50px'}) %>
<%= v.select(:third_letter, Vehicle::LETTERS.map { |a| [ t(a), a ] }, { include_blank: false }, {:style=>'width:50px'}) %>
<% else %>
<%= v.select(:first_letter, Vehicle::LETTERS.map { |a| [ t(a), a ] }, { include_blank: false, :selected => @permit.vehicle.register_sn[0] }, {:style=>'width:50px'}) %>
<%= v.text_field(:sn_number, :placeholder => 'Номер', :value => @permit.vehicle.register_sn[1..3]) %>
<%= v.select(:second_letter, Vehicle::LETTERS.map { |a| [ t(a), a ] }, { include_blank: false, :selected => @permit.vehicle.register_sn[4] }, {:style=>'width:50px'}) %>
<%= v.select(:third_letter, Vehicle::LETTERS.map { |a| [ t(a), a ] }, { include_blank: false, :selected => @permit.vehicle.register_sn[5] }, {:style=>'width:50px'}) %>
<% end %>


<%= v.text_field(:sn_region, :placeholder => 'Регион') %>