
	<div class="container">
      <ul class="row top-pannel clearfix">
        <li class="col-md-8">
          <a href="#"><%= link_to "Назад", :back, :class => "btn btn-sm back-btn" %></a>
              <h1>Новый пропуск</h1>
        </li>
        <li class="col-md-4 pull-right">
          <%= form_tag documents_path, method: :get, :remote => true, :id => "text-search" do %>
              <%= render 'shared/user' %>
          <% end %>
        </li>
      </ul>

      <%= form_for @permit, :html => {:name => 'newPermitForm'} do |f| %>

          <% if @permit.errors.any? %>
              <div id="error_explanation">
                <h4 style="color: #9a0000;">Пожалуйста, исправьте некорректные поля:</h4>
                <ul>
                  <% @permit.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <%= render 'permit_form_fields', f: f %>



          <%= f.submit 'Создать заявку', :class => 'btn btn-success' %>
          <%= link_to "Отмена", :back, :class => 'btn btn-disabled' %>

      <% end %>
    </div>

	




