<div class="row">
	<%= render 'shared/left' %>
	<div class="span12">
		<%= render 'shared/user' %>
		<h1 class="doc_header">Заявки на пропуск<span class="caret"></span></h1>
		  <%= render 'panel' %>
      
    Номер: <%= @permit.number %><br>
    Тип пропуска: <%= t(@permit.permit_type) %><br>
    <% if @permit.permit_type == 'vehicle' %>
    ТС: <%= @permit.vehicle.vehicle_title %><br>
    <% else %>
      <%= @permit.user_id %><br>
    <% end %>
    Класс пропуска: <%= t(@permit.permit_class) %><br>
    Действителен с <%= @permit.start_date.strftime('%d.%m.%y') %> по <%= @permit.expiration_date.strftime('%d.%m.%y') %>		
	</div>
	
	
</div>
