<div class="row">
	<%= render 'shared/left' %>
	<div class="span12">
		<%= render 'shared/user' %>
		<h1 class="doc_header">Заявки на пропуск<span class="caret"></span></h1>
		  <%= render 'panel' %>
    
    <h3>Пропуск</h3>
    Номер: <%= @permit.number %><br>
    Тип пропуска: <%= t(@permit.permit_type) %><br>
    <% if @permit.permit_type == 'vehicle' %>
    ТС: <%= @permit.vehicle.vehicle_title %><br>
    <% else %>
      Персона: <%= user(@permit.user_id).first_name_with_last_name %><br>
    <% end %>
    Класс пропуска: <%= t(@permit.permit_class) %><br>
    Действителен с <%= @permit.start_date.strftime('%d.%m.%y') %> по <%= @permit.expiration_date.strftime('%d.%m.%y') %>	
    <br>
    
    <h3>Водители</h3>
    <ul>
      <% @permit.vehicle.users.each do |user| %>
        <li><%= user.first_name %></li>
      <% end %>
    </ul>
    
    
    <%= render 'actions' %>
    	

	
	
</div>
