<div class="row">
	<%= render 'shared/left' %>
	<div class="span12">
		<%= render 'shared/user' %>
		<h1 class="doc_header">Заявки на пропуск<span class="caret"></span></h1>
		  <%= render 'panel' %>
		  
		  
	<% if @permit.permit_type == 'user' %>
	  <h3>Пропуск на пеший проход</h3>
	  
	  Номер: <%= @permit.number %><br>
	  
	  <%= @user.last_name %><br>
	  <%= @user.first_name %><br>
	  <%= @user.middle_name %><br>
	  
	  <%= organization(@user.organization_id) %> <%= @user.position %><br>
	  
	  Действителен с <%= @permit.start_date.strftime('%d.%m.%y') %> по <%= @permit.expiration_date.strftime('%d.%m.%y') %>	
    
	  
	<% elsif @permit.permit_type == 'vehicle' %>
    <h3>Пропуск на транспортное средство</h3>
    
    Номер: <%= @permit.id %><br>
    
    Класс пропуска: <%= t(@permit.permit_class) %><br>
    
    Действителен с <%= @permit.start_date.strftime('%d.%m.%y') %> по <%= @permit.expiration_date.strftime('%d.%m.%y') %>	
    <br>
    
    <h3>Водители</h3>
    <% if @permit.way_bill %>
      Согласно путевому листу
    <% else %>
      <ul>
        <% @permit.vehicle.users.each do |user| %>
          <li><%= user.first_name %></li>
        <% end %>
      </ul>
    <% end %>
    
	<% elsif @permit.permit_type == 'daily' %>
    <h3>Разовый пропуск</h3>

    Имя: <%= @daily_pass.first_name %><br>
    Фамилия: <%= @daily_pass.last_name %><br>
    Отчество: <%= @daily_pass.middle_name %><br>
    Наименование документа: <%= @daily_pass.id_type %><br>
    Его серия и номер: <%= @daily_pass.id_sn %><br>
    Гос. номер и марка автотранспортного средства: <%= @daily_pass.vehicle %><br>
    Куда: <%= @daily_pass.object %><br>
    К кому: <%= @daily_pass.person %><br>
    Выдан: <%= @daily_pass.issued %><br>
    Дата: <%= @daily_pass.date.strftime('%d.%m.%y') %><br>
    Дежурный охранник КПП: <%= @daily_pass.guard_duty %><br>
  
  <% end %>
    

    
    
    <%= render 'actions' %>
    	

	
	
</div>
