<div class="container">
  <ul class="row top-pannel clearfix">
    <li class="col-md-8">
      <h1 class="dropdown">Заявки на пропуск <span class="caret"></span></h1>
        <span class="dropdown full-drop">
            <h1 data-toggle="dropdown">Заявки на пропуск <span class="caret"></span></h1>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/documents">Документы<!-- <span class="count">(112)</span>--></a></li>
                <li><a href="/statements">Акты <!--<span class="count">(23)</span>--></a></li>
                <li><a href="/documents/drafts">Черновики <!--<span class="count">(43)</span>--></a></li>
                <li><a href="#">Отмена</a></li>
            </ul>
        </span>
    </li>
    <li class="col-md-4 pull-right">
      <%= render 'shared/user' %>
    </li>
  </ul>


  <%= render 'panel' %>
		  
	<% if @permit.permit_type == 'user' %>
	  <h3>Пропуск на пеший проход</h3>
	  
	  Номер: <%= @permit.number %><br>
	  
	  <%= @user.last_name %><br>
	  <%= @user.first_name %><br>
	  <%= @user.middle_name %><br>
	  
	  <%= organization(@user.organization_id) %> <%= @user.position %><br>
	  
	  Действителен с <%= @permit.start_date.strftime('%d.%m.%y') %> по <%= @permit.expiration_date.strftime('%d.%m.%y') %>	
    
	  
	<% elsif @permit.permit_type == 'vehicle' %>
    <h3>Пропуск на транспортное средство</h3>
    
    Номер: <%= @permit.id %><br>
    Организация: <%= organization_full_title(@permit.organization_id) %><br>
    Класс пропуска: <%= t(@permit.permit_class) %><br>
    
    Действителен с <%= @permit.start_date.strftime('%d.%m.%y') if @permit.start_date %> по <%= @permit.expiration_date.strftime('%d.%m.%y') if @permit.start_date %>	
    <br>
    
    <h3>Транспортное средство</h3>
    
      Марка: <%= @permit.vehicle.brand %><br>
      Модель: <%= @permit.vehicle.model %><br>
      Тип: <%= vehicle_body(@permit.vehicle) %><br>
      Номер СТС: <%= @permit.vehicle.register_document %><br>
      Номер ГРЗ: <%= @permit.vehicle.register_sn %><%= @permit.vehicle.sn_region %><br>
      
    
    <h3>Водители</h3>
    <% if @permit.way_bill %>
      Согласно путевому листу
    <% else %>
      <ul>
        <% @permit.vehicle.users.each do |user| %>
          <li><%= user.first_name_with_last_name %> | <%= user.position %> </li>
        <% end %>
      </ul>
    <% end %>
    
	<% elsif @permit.permit_type == 'daily' %>
    <h3>Разовый пропуск</h3>

    Имя: <%= @daily_pass.first_name %><br>
    Фамилия: <%= @daily_pass.last_name %><br>
    Отчество: <%= @daily_pass.middle_name %><br>
    Наименование документа: <%= @daily_pass.id_type %><br>
    Его серия и номер: <%= @daily_pass.id_sn %><br>
    Гос. номер и марка автотранспортного средства: <%= @daily_pass.vehicle %><br>
    Куда: <%= @daily_pass.object %><br>
    К кому: <%= @daily_pass.person %><br>
    Выдан: <%= @daily_pass.issued %><br>
    Дата: <%= @daily_pass.date.strftime('%d.%m.%y') if @daily_pass.date %><br>
    Дежурный охранник КПП: <%= @daily_pass.guard_duty %><br>
  
  <% end %>
    

    
    
    <%= render 'actions' %>
    	


</div>