<table class="table dynamic-table default-table">
	<thead>
  	 <tr>
  	  <th class="dropdown col-md-4">
  	  	<span class="dropdown-toggle" data-toggle="dropdown">
	  	  	<%= sortable "title", "Организация" %>
	  	  	<span class="caret"></span>
  	  	</span>
  	  	<ul class="dropdown-menu" role="menu">
	      <li><a href="#">Бла</a></li>
	      <li><a href="#">Бла бла</a></li>
	      <li><a href="#">Бла бла бла</a></li>
	    </ul>
  	  </th>
  	  <th class="col-md-3">
  	  <!--  <%= sortable "director_id", "Руководитель" %> -->
  	  Руководитель</th>
  	  <th class="col-md-3">Штат</th>
  	  <th class="col-md-2">Телефон</th>
  	 <!--  <th>Подробнее</th> -->
	  </tr>
 	</thead>
 	<tbody>
	<% @organizations.each do |organization| %>
	  <tr>	
			<td><a href="#" class="organization-title"><%= organization.title %></a></td>
			<td><%= user_with_full_name(organization.director_id) %></td>
			<td><%= organization.users.count %></td>
			<td><%= organization.phone %></td>
			<!-- <td><%= link_to "Подробнее", organization_path(organization) %></td> -->
	  </tr>
	<% end %>
	</tbody>
</table>