<div class="container">
  <ul class="row top-pannel clearfix">
    <li class="col-md-8">
      <%= link_to " назад", :back, :class => "btn btn-sm back-btn" %>
      <h1 class="doc_header"><%= @organization.title %><span class="sub-title">(Режим редактирования)</span></h1>
    </li>
    <li class="col-md-4 pull-right">
      <%= render 'shared/user' %>
    </li>
  </ul>
<%= form_for(@organization, :html => {:class => "form row-fuild add-list"}) do |f| %>
   <h2 class="h1">1. Общие данные</h2>
    <div class="form-item"><span class="form-label col-md-5">Полное наименование:</span>
      <%= f.text_field :title, class: 'form-control col-md-6' %>
    </div>

    <div class="form-item"><span class="form-label col-md-5">Сокращенное наименование:</span>
      <%= f.text_field :short_title, class: 'form-control col-md-6' %>
    </div>

    <div class="form-item"><span class="form-label col-md-5">Форма собственности:</span>
      <!-- TODO: this parameteres not exists -->
      <%= f.text_field :type_of_ownership, class: 'form-control col-md-4' %>
    </div>

    <div class="form-item"><span class="form-label col-md-5">Дата постановки на учет в налоговом органе:</span>
      <%= f.text_field :date_of_registration, class: 'form-control col-md-4 js-datepicker', size: 10, value: @organization.date_of_registration.try(:strftime,"%d.%m.%Y") %>
     <!--<input class="form-control col-md-2 hasDatepicker" id="" name="" placeholder="" size="10" type="text">-->
    </div>

    <!-- TODO: stange parameter-->
    <div class="form-item"><span class="form-label col-md-5">Налоговый орган, принявший на учет:</span>
      <%= f.text_field :tax_authority_that_registered, class: 'form-control col-md-6', size: 10 %>
     <!--<input class="form-control col-md-6" id="" name="" placeholder="" size="10" type="text">-->
    </div>

    <div class="form-item"><span class="form-label col-md-5">Скан свидетельства о постановке на учет в налоговом органе:</span>
      <% if @organization.certificate_of_tax_registration.file? %>
        <%= link_to "Скачать", @organization.certificate_of_tax_registration.url(:original, false), {:class => "download-link"} %>
      <% end %>
      <%= f.file_field :certificate_of_tax_registration, class: 'filestyle col-md-4', data: {input: false} %>
      <!--<input type="file" class="filestyle col-md-2" data-input="false"/>-->
    </div>

    <div class="form-item"><span class="form-label col-md-5">Дата решения о создании  организации:</span>
      <%= f.text_field :creation_resolution_date, class: 'form-control col-md-4 js-datepicker', size: 10, value: @organization.creation_resolution_date.try(:strftime,"%d.%m.%Y")  %>
     <!--<input class="form-control col-md-2 hasDatepicker" id="" name="" placeholder="" size="10" type="text">-->
    </div>

    <!-- TODO: unknown parameter -->
    <div class="form-item"><span class="form-label col-md-5">Скан решения о создании:</span>
      <% if @organization.creation_resolution.file? %>
        <%= link_to "Скачать", @organization.creation_resolution.url(:original, false), {:class => "download-link"} %>
      <% end %>
      <%= f.file_field :creation_resolution, class: 'filestyle col-md-4', data: {input: false} %>
      <!--<input type="file" class="filestyle col-md-2" data-input="false"/>-->
    </div>

    <div class="form-item"><span class="form-label col-md-5">Скан Устава организации:</span>
      <% if @organization.articles_of_organization.file? %>
        <%= link_to "Скачать", @organization.articles_of_organization.url(:original, false), {:class => "download-link"} %>
      <% end %>
      <%= f.file_field :articles_of_organization, class: 'filestyle col-md-4', data: {input: false} %>
      <!--<input type="file" class="filestyle col-md-2" data-input="false"/>-->
    </div>

    <!-- TODO: director not exists -->
    <div class="form-item"><span class="form-label col-md-5">Генеральный директор:</span>
      <%= f.collection_select(:director_id, @users, :id, :first_name_with_last_name_with_middle_name, {:include_blank => false, :selected => @organization.director_id}, {multiple: false, :class => 'form-control col-md-6 pull-left js-select-collection'}) %>
      <!--<input class="form-control col-md-6 chosen-container chosen-container-multi" placeholder="<%= user_with_full_name_with_middle_name(@organization.director_id) %>" type="text"/>-->
    </div>


    <!-- TODO: account not exists -->
    <div class="form-item"><span class="form-label col-md-5">Главный бухгалтер:</span>
      <%= f.collection_select(:accountant_id, @users, :id, :first_name_with_last_name_with_middle_name, {:include_blank => false, :selected => @organization.accountant_id}, {multiple: false, :class => 'form-control col-md-6 pull-left js-select-collection'}) %>
      <!--<input class="form-control col-md-6" placeholder="<%= user_with_full_name_with_middle_name(@organization.accountant_id) %>" type="text"/>-->
    </div>


    <div class="form-item"><span class="form-label col-md-5">ИНН:</span>
      <%= f.text_field :inn, class: 'form-control col-md-4'%>
      <!--<input class="form-control col-md-2" placeholder="<%= @organization.inn %>" type="text"/>-->
    </div>

    <div class="form-item"><span class="form-label col-md-5">КПП:</span>
      <%= f.text_field :kpp, class: 'form-control col-md-4'%>
      <!--<input class="form-control col-md-2" placeholder="<%= @organization.kpp %>" type="text"/>-->
    </div>

    <div class="form-item"><span class="form-label col-md-5">ОГРН:</span>
      <%= f.text_field :ogrn, class: 'form-control col-md-4'%>
      <!--<input class="form-control col-md-2" placeholder="<%= @organization.ogrn %>" type="text"/>-->
    </div>

    <div class="form-item"><span class="form-label col-md-5">БИК:</span>
      <%= f.text_field :bik, class: 'form-control col-md-4'%>
      <!--<input class="form-control col-md-2" placeholder="<%= @organization.bik %>" type="text"/>-->
    </div>

    <div class="form-item"><span class="form-label col-md-5">Дата постановки в ЕГРЮЛ:</span>
      <%= f.text_field :egrul_registration_date, class: 'form-control col-md-4 js-datepicker', size: 10, value: @organization.egrul_registration_date.try(:strftime, "%d.%m.%Y")  %>
      <!--<input class="form-control col-md-2 hasDatepicker" id="" name="" placeholder="" size="10" type="text">-->
    </div>

    <div class="form-item"><span class="form-label col-md-5">Скан выписки из ЕГРЮЛ:</span>
      <% if @organization.egrul_excerpt.file? %>
        <%= link_to "Скачать", @organization.egrul_excerpt.url(:original, false), {:class => "download-link"} %>
      <% end %>
      <%= f.file_field :egrul_excerpt, class: 'filestyle col-md-4', data: {input: false} %>
      <!--<input type="file" class="filestyle col-md-2" data-input="false"/>-->
    </div>
    <ul class="nav nav-pills">
      <li class="col-md-offset-5">
        <!--<input class="btn btn-default btn-primary btn-sm" name="" type="submit" value="Сохранить">-->
        <%= f.submit 'Сохранить', class: 'btn btn-default btn-primary btn-sm' %>
      </li>
      <li>
        <%= link_to 'Отменить изменения', edit_organization_path(@organization), class: 'btn-link btn-sm' %>
            <!--#<a href="#" class="btn-link btn-sm">Отменить изменения</a>-->
      </li>
    </ul>
   <% end %> 
 </div>



 <div class="container">
  <%= form_for(@organization, :html => {:class => "form row-fuild"}) do |f| %>
  <h2 class="h1">2. Реквизиты</h2>
    <div class="form-item"><span class="form-label col-md-5">Полное наименование банка:</span>
      <%= f.text_field :bank_title, class: 'form-control col-md-6'%>
      <!--<input class="form-control col-md-6" placeholder="<% @organization.bank_title %>" type="text"/>-->
    </div>

    <div class="form-item"><span class="form-label col-md-5">Юридический адрес банка:</span>
      <%= f.text_area :bank_address, class: 'form-control col-md-6', rows: 2%>
      <!--<input class="form-control col-md-6" placeholder="<% @organization.bank_address %>" type="text"/> -->
    </div>

    <div class="form-item"><span class="form-label col-md-5">Корр. счет банка:</span>
      <%= f.text_field :bank_correspondent_account, class: 'form-control col-md-4'%>
      <!--<input class="form-control col-md-4" placeholder="<% @organization.bank_correspondent_account %>" type="text"/> -->
    </div>

    <div class="form-item"><span class="form-label col-md-5">БИК банка:</span>
      <%= f.text_field :bank_bik, class: 'form-control col-md-2'%>
      <!--<input class="form-control col-md-2" placeholder="<% @organization.bank_bik %>" type="text"/> -->
    </div>

    <div class="form-item"><span class="form-label col-md-5">ИНН банка:</span>
      <%= f.text_field :bank_inn, class: 'form-control col-md-3'%>
      <!--<input class="form-control col-md-3" placeholder="<% @organization.bank_inn %>" type="text"/> -->
    </div>

    <div class="form-item"><span class="form-label col-md-5">КПП банка:</span>
      <%= f.text_field :bank_kpp, class: 'form-control col-md-2'%>
      <!--<input class="form-control col-md-2" placeholder="<% @organization.bank_kpp %>" type="text"/> -->
    </div>

    <div class="form-item"><span class="form-label col-md-5">ОКВЭД банка:</span>
      <%= f.text_field :bank_okved, class: 'form-control col-md-4'%>
      <!--<input class="form-control col-md-4" placeholder="<% @organization.bank_okved %>" type="text"/> -->
    </div>

    <div class="form-item"><span class="form-label col-md-5">Расчетный счет организации:</span>
      <%= f.text_field :organization_account, class: 'form-control col-md-6'%>
      <!--<input class="form-control col-md-6" placeholder="<% @organization.organization_account %>" type="text"/> -->
    </div>

    <div class="form-item"><span class="form-label col-md-5">Юридический адрес организации:</span>
      <%= f.text_area :legal_address, class: 'form-control col-md-6', rows: 2%>
      <!--<input class="form-control col-md-6" placeholder="<% @organization.legal_address %>" type="text"/> -->
    </div>

    <div class="form-item"><span class="form-label col-md-5">Физический адрес организации:</span>
      <%= f.text_area :actual_address, class: 'form-control col-md-6', rows: 2%>
      <!--<input class="form-control col-md-6" placeholder="<% @organization.actual_address %>" type="text"/> -->
    </div>
    <ul class="nav nav-pills">
      <li class="col-md-offset-5">
        <!--<input class="btn btn-default btn-primary btn-sm" name="" type="submit" value="Сохранить">-->
        <%= f.submit 'Сохранить', class: 'btn btn-default btn-primary btn-sm' %>
      </li>
      <li>
        <%= link_to 'Отменить изменения', edit_organization_path(@organization), class: 'btn-link btn-sm' %>
        <!--#<a href="#" class="btn-link btn-sm">Отменить изменения</a>-->
      </li>
    </ul>
    <% end %>
  </div>


<!-- TODO: commented code -->
<!--<div class="container add-list">-->
  <!--<%= form_for(@organization, :html => {:class => "form row-fuild"}) do |f| %>   -->
   <!--<span class="h1"><span class="col-md-5">2. Лицензии</span> <a href="#" class="add-new" id="add_new_lic"><span class="icon-plus"></span>Добавить новую</a></span>-->
    <!--<div class="form-container">-->
      <!--<div class="row title">-->
        <!--<div class="col-md-3">-->
          <!--<div class="view-main-doc view-doc-small">-->
            <!--<iframe src=""/></iframe>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-7"><b class="h1">Лицензия на строительство зданий и сооружений I и II уровней</b></div>-->
        <!--<div class="col-md-2"><a href="#" class="delete">Удалить</a></div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="form-item"><span class="form-label col-md-5">Тип документа:</span>-->
          <!--<select class="form-control col-md-2" id="" name="">-->
            <!--<option value="3"><%= @organization.type_of_ownership %></option>-->
          <!--</select>-->
        <!--</div>-->
        <!--<div class="form-item"><span class="form-label col-md-5">Серия и номер:</span>-->
          <!--<input class="col-md-6 form-control"/>-->
        <!--</div>-->
        <!--<div class="form-item"><span class="form-label col-md-5">Дата выдачи:</span>-->
         <!--<input class="form-control col-md-2 hasDatepicker" id="" name="" placeholder="" size="10" type="text">-->
        <!--</div>-->
        <!--<div class="form-item"><span class="form-label col-md-5">Срок действия до:</span>-->
         <!--<input class="form-control col-md-2 hasDatepicker" id="" name="" placeholder="" size="10" type="text">-->
        <!--</div>-->
        <!--<div class="form-item"><span class="form-label col-md-5">Кем выдан:</span>-->
          <!--<input class="col-md-6 form-control"/>  -->
        <!--</div>-->
        <!--<div class="form-item"><span class="form-label col-md-5">Скан документа:</span><%= link_to "Скачать", @organization.egrul_excerpt.url(:original, false), {:class => "download-link"} %><input type="file" class="filestyle col-md-2" data-input="false"/></div>-->
      <!--</div>-->
      <!--<ul class="nav nav-pills">-->
        <!--<li class="col-md-offset-5"><input class="btn btn-default btn-primary btn-sm" name="" type="submit" value="Сохранить"></li>-->
        <!--<li><a href="#" class="btn-link btn-sm">Отменить изменения</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--<% end %>-->
  <!--</div>-->