<div class="container">
    <ul class="row top-pannel clearfix">
      <li class="col-md-8">
        <%= link_to " назад", :back, :class => "btn btn-sm back-btn" %>
        <h1><%= @organization.title %>
        <span class="sub-title row-fuild">
          <a href="#" class="download-link pdf"><i></i>Скачать реквизиты</a>
          <%= link_to 'редактировать данные', edit_organization_path(@organization), class: 'download-link icon-pencil ' %>
          <!--<a class="download-link icon-pencil" href="#">Редактировать данные</a>-->
        </span>
        </h1>
      </li>
      <li class="col-md-4 pull-right">
        <%= render 'shared/user' %>
      </li>
    </ul>
    <div class="container">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#total-data" data-toggle="tab">Общие данные</a></li>
        <li><a href="#details" data-toggle="tab">Реквизиты</a></li>
        <li><a href="#stuff" data-toggle="tab">Сотрудники</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <%= render 'organizations/tabs/show_total', organization: @organization %>
        <!--<div class="tab-pane data-grid active" id="total-data">-->
          <!--<span class="h1 col-md-12">Общие данные</span>-->
          <!--<div class="col-md-5">-->
            <!--<span class="data-label">Полное наименование</span>-->
            <!--<span class="data-value">Общество с ограниченной ответственностью «Циклон»</span>-->
            <!--<span class="data-label">Сокращенное наименование</span>  -->
            <!--<span class="data-value">ООО «Циклон»</span>-->
            <!--<span class="data-label">Форма собственности</span>-->
            <!--<span class="data-value">ООО</span>-->
            <!--<span class="data-label">Дата постановки на учет в налоговом органе</span>  -->
            <!--<span class="data-value">12.11.2013</span>-->
            <!--<span class="data-label">Налоговый орган, принявший на учет</span>  -->
            <!--<span class="data-value">ИФНС России по Выборгскому району</span>-->
            <!--<span class="data-label">Копия свидетельства о постановке на учет  в налоговом органе</span>  -->
            <!--<a href="#" class="data-value download-link">Скачать</a>-->
            <!--<span class="data-label">Дата решения о создании организации</span> -->
            <!--<span class="data-value">12.11.2013</span>-->
            <!--<span class="data-label">Копия решения о создании</span>  -->
            <!--<a href="#" class="data-value download-link">Скачать</a>-->
            <!--<span class="data-label">Копия Устава организации</span>  -->
            <!--<a href="#" class="data-value download-link">Скачать</a>-->
          <!--</div>-->
          <!--<div class="col-md-6 col-md-offset-1">-->
             <!--<span class="data-label">Генеральный директор</span>   -->
            <!--<span class="data-value">-->
              <!--<span class="user">-->
                <!--<a href="#" class="name" data-toggle="dropdown">Кобец Андрей Сергеевич</a>-->
              <!--</span>-->
            <!--</span>-->
             <!--<span class="data-label">Главный бухгалтер</span>  -->
            <!--<span class="data-value">-->
              <!--<span class="user">-->
                  <!--<a href="#" class="name" data-toggle="dropdown">Кобец Андрей Сергеевич</a>-->
              <!--</span>-->
            <!--</span>-->
             <!--<span class="data-label">ИНН</span>  -->
            <!--<span class="data-value">7840369540</span>-->
             <!--<span class="data-label">КПП</span>  -->
            <!--<span class="data-value">784001001</span>-->
             <!--<span class="data-label">ОГРН</span>   -->
            <!--<span class="data-value">1077847567478</span>-->
             <!--<span class="data-label">БИК</span>-->
            <!--<span class="data-value">044030755</span>-->
             <!--<span class="data-label">Дата постановки в ЕГРЮЛ</span>  -->
            <!--<span class="data-value">12.11.2013</span>-->
             <!--<span class="data-label">Копия выписки из ЕГРЮЛ</span>   -->
            <!--<a href="#" class="data-value download-link">Скачать</a>-->
          <!--</div>-->
        <!--</div>-->
        <%= render 'organizations/tabs/show_details', organization: @organization %>
        <%= render 'organizations/tabs/show_stuff', organization: @organization, users: @users %>
      </div>
    </div>
</div>