<!DOCTYPE html>
<html>
<head>
  <title>Kzs</title>

  <%= stylesheet_link_tag "/assets/application", :media => "all" %>
  <%= stylesheet_link_tag "/assets/test/sidebar", :media => "all" %>
   <%= javascript_include_tag "/assets/old/application" %>





  <%= csrf_meta_tags %>
  <%= yield(:head) %>

</head>
<body>
  <div >
  <!--class="container"-->
      

	 <!-- <= render 'layouts/navbar' %> -->
		



<div id="sidebar">
    <%= render 'shared/left' %>

  </div>

  <div class="page">
    <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
        <div class="alert alert-error"><%= alert %></div>
    <% end %>


	      <%= yield %>
	  </div>

  </div>
</body>
</html>
