<!DOCTYPE html>
<html>
<head>
  <title>Kzs</title>

  <link href="/assets/first/bootstrap.css" media="all" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "/assets/application", :media => "all" %>
  <%= javascript_include_tag "/assets/old/application" %>
  <!--<%= javascript_include_tag "/assets/new/application" %>-->

  <script src="/assets/sidebar.js" type="text/javascript"></script>
  <script src="/assets/new/docs.js" type="text/javascript"></script>
  <script src="/assets/new/jcarousellite_1.0.1.min.js" type="text/javascript"></script>

  <%= csrf_meta_tags %>
  <%= yield(:head) %>

</head>
<body>
<div>

  <div id="sidebar">
    <%= render 'shared/left' %>
  </div>

  <div class="page">
    <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
        <div class="alert alert-error"><%= alert %></div>
    <% end %>

    <%= yield %>
  </div>

</div>
</body>
</html>
