<!DOCTYPE html>
<html>
<head>
  <title>Kzs</title>
  <link href="/assets/first/bootstrap.css" media="all" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    "/assets/application", :media => "all" %>
  <link href="/assets/first/dashboard.css" media="all" rel="stylesheet" type="text/css">
    <%= javascript_include_tag "/assets/dashboard/application" %>

  <%= csrf_meta_tags %>
  <%= yield(:head) %>

</head>
<body>
<% unless controller?('devise/sessions')  %>
<%= yield %>
<% end %>
</body>
</html>
