<!DOCTYPE html>
<html>
<head>
  <title>Kzs</title>
  <script src="/assets/dashboard/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/dashboard/jquery.gridster.min.js" type="text/javascript"></script>


  <!--<link href="/assets/first/bootstrap.css" media="all" rel="stylesheet" type="text/css">-->



    <%= stylesheet_link_tag    "/assets/application", :media => "all" %>


    <%= javascript_include_tag "/assets/dashboard/application" %>

  <%= csrf_meta_tags %>
  <%= yield(:head) %>

</head>
<body>
<% unless controller?('devise/sessions')  %>
<%= yield %>
<% end %>
</body>
</html>
