<!DOCTYPE html>
<html>
<head>
  <title>Kzs login</title>
   <!--TODO rake assets:precompile компилирует только файлы отличные от js/css а также файлы манифестов. -->
  <!-- все остальное грузиться не будет -->
  <!--<link href="/assets/first/bootstrap.css" media="all" rel="stylesheet" type="text/css">-->
  <!--<script type="text/javascript" src="/assets/javascript/main/modal.js"></script>-->

  <!--TODO пути стоит указывать к манифестам -->
  <%= javascript_include_tag "main/application" %>

  <!--TODO пути стоит указывать к манифестам -->
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= csrf_meta_tags %>
  <%= yield(:head) %>

</head>
<body>
<div>

    <%= yield %>

</div>
</body>
</html>
