<!DOCTYPE html>
<html>
<head>
  <title>Kzs login</title>

  <link href="/assets/first/bootstrap.css" media="all" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "/assets/main/application" %>
  <script type="text/javascript" src="/assets/javascript/main/modal.js"></script>
  <%= stylesheet_link_tag "/assets/application", :media => "all" %>

  <%= csrf_meta_tags %>
  <%= yield(:head) %>

</head>
<body>
<div>

    <%= yield %>

</div>
</body>
</html>
