<!DOCTYPE html>
<html>
<head>
  <title>Kzs</title>

  <link href="/assets/first/bootstrap.css" media="all" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href="/assets/first/organizations.css" media="all" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "/assets/main/application" %>
  <script src="/assets/organizations.js" type="text/javascript"></script>
  <script src="/assets/waypoints.js" type="text/javascript"></script>
  <script src="/assets/waypoints-sticky.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>

</head>
<body>
<div>
  <% unless controller?('devise/sessions')  %>
  <div id="sidebar">
    <%= render 'shared/left' %>
  </div>
  <% end %>

  <div class="page">
    <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
        <div class="alert alert-error"><%= alert %></div>
    <% end %>

    <%= yield %>
  </div>

</div>
</body>
</html>
