<!DOCTYPE html>
<html>
<head>
  <title>System page</title>

  <link href="/assets/first/bootstrap.css" media="all" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "/assets/main/application" %>

  <%= csrf_meta_tags %>
  <%= yield(:head) %>

</head>
<body>
<div class="page-wrapper">
  <% unless controller?('devise/sessions') || controller?('dashboard')  %>
      <div id="sidebar">
        <%= render 'shared/left' %>
      </div>
  <% end %>

  <div class="page page-wrapper">
    <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
        <div class="alert alert-error"><%= alert %></div>
    <% end %>

    <%= yield %>
  </div>

</div>
</body>
</html>
